body{
  background-color: #fcf6f6;
}

.logo-size{
  height: 120px;
}

.input-field{
  outline: none;
  height: 50px;
  font-size: 20px;
  
}

.search-button{
  font-size: 20px;
  background-color: #fad1d1;
}

.movie-card{
  height: 270px;
  width: auto;
}

.card-bg{
  background-color: #fad1d1;
}

.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}

.single-movie{
  height: 450px;
}